.show-more-btn {
	background-color: #4b5fa5;
	border-radius: 12px;
	padding: 8px 20px !important;
	text-align: center;
	color: #fff;
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	border: none;
	transition: scale 0.2s;

	&:hover {
		scale: 1.1;
	}
}
