@use '../styles/utils/' as *;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	width: 100%;
	overflow-x: hidden;
}

body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	font-weight: 400;
	font-style: normal;
	font-family: $font-family-primary;
	font-size: 16px;
	color: #171717;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	list-style: none;
}

#root {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.main {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

.container {
	$padding-x: 1rem;
	$container-max-widths: (
		sm: 540px,
		md: 720px,
		lg: 960px,
		xl: 1140px,
		xxl: 1320px,
	);

	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-right: $padding-x;
	padding-left: $padding-x;

	@each $breakpoint, $container-max-width in $container-max-widths {
		@include media-breakpoint-up($breakpoint, $grid-breakpoints) {
			max-width: $container-max-width;
		}
	}
}
